/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #161616;
  color: #ffffff;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.site-header {
  background-color: #7a0000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-logo {
  width: 45px;
  height: 45px;
}

.site-name {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.header-nav {
  display: flex;
  gap: 2rem;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}

.header-nav a:hover {
  opacity: 0.7;
}


/* About Section */
.about-section {
  flex-grow: 1;
  display: flex;
  align-items: center;       /* vertically center content */
  justify-content: center;   /* horizontally center content */
  padding: 2rem;
}
.about-layout {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.about-image {
  width: 50%;
  height: 400px;
  background-color: #555;
  border: 2px dashed #aaa;
  border-radius: 8px;
}
.about-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.7;
}

.about-text p {
  margin-bottom: 20px;   /* paragraph spacing */
}
